@model Avatar.Models.Compra

@{
	ViewBag.Title = "PaginaDetalhesCompra";
}

<h2>Detalhes da Compra</h2>

<div>

	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.FormaPagamento)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FormaPagamento, "Forma Pagamento")
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DataCompra)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DataCompra, "Data Compra")
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CodigoJogo)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CodigoJogo, "Codigo Premium")
		</dd>

	</dl>
	<p>
	
	Não se esqueça de inserir o Codigo Premium dentro do jogo!!! Bom divertimento :)
	

	</p>




</div>

